@{
    ViewData["Title"] = "Developers";
}



<body>
<div class="row">
    <div class="item-1 col">

            <img class="dev-img" src="~/css/Bill Benham.jpg" alt="Bill Benham" />

            <p> <h1> Bill Benham </h1> </p>

    </div>
        <div class="item-2 col">

            <img class="dev-img" src="~/css/box.png" alt="Gage" />

            <p> <h1> Gage Stephens </h1> </p>

        </div>
      <div class="item-4 col">

            <img class="dev-img" src="~/css/Samantha Johnson.jpg" alt="Samantha" />

            <p> <h1> Samantha Johnson </h1> </p>

    </div>
    <div class="item-3 col">

            <img class="dev-img" src="~/css/Jack Jolliffe.jpeg" alt="Jack" />

            <p> <h1> Jack Jolliffe </h1> </p>

    </div>
    <div class="item-5 col">

            <img class="dev-img" src="~/css/Matthew Gray.png" alt="Matthew" />

            <p> <h1> Mathhew Gray </h1> </p>

    </div>
    <div class="item-6 col">

            <img class="dev-img" src="~/css/Zachariya Mohamed.jpg" alt="Zachariya" />

            <p> <h1> Zachariya Mohamed </h1> </p>

    </div>
</div>
</body>