@{
    ViewData["Title"] = "Home Page";
}

<body>
    <div align="center" class="menu-header">
        <img src="/css/WMS.logo.jpg" alt="WMS Logo" />
        <h1>
            <span>WMS Inventory Tracker</span>
        </h1>

    </div>
    <br />
    <div align="left" class="menu">
        <div align="center">
            <h1>
                <span>Main Menu</span>
            </h1>
        </div>
        <br />
        <ul>
            <li>
                <a style="color: white; cursor: pointer" onClick='location.href="/Accounts/Details/1"'><u>Account</u></a>
            </li>
            <li>
                <a style="color: white; cursor: pointer" onClick='location.href="/StorageLocation/Account/1"'><u>Storage Locations</u></a>
            </li>
            <li>
                <a style="color: white; cursor: pointer" onClick='location.href="/Container/Account/1"'><u>Containers</u></a>
            </li>
            <li>
                <a href='@Url.Action("Index", "Contents")'>Content</a>
            </li> 
        </ul>
        <br />
        <br />
        <br />
    </div>

</body>
